@{
    ViewBag.Title = "Home Page";
}
<body style="background-image: url('../Image/bg.jpg');  background-repeat: no-repeat;  background-size:cover; background-attachment:fixed">
    <img src="~/Image/im.jpg" width="1140px" height="500px" />
</body>
<div class="jumbotron">
    <h1>Greenwich University Da Nang</h1>
    <p class="lead">University of Greenwich is a popular institution for students from Vietnam, with approximately 60 students currently studying on a Bachelor's or Master's degree.</p>
    <p><a href="https://greenwich.edu.vn/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

